<ion-header>
  <ion-toolbar>
    <ion-title>cuarta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- debe ocupar todo el ancho porque el atriubuto breakpoint vale 12 -->
      <ion-col  	size-sm="auto" class="cell-4">
        1 of 4
      </ion-col>
      <!-- el size-XX para mixins define para pantallaa pequeñas -->
      <ion-col 	size-sm="6">
        2 of 4
      </ion-col>
      <ion-col  size="12" 	size-sm="5"  class="cell-4">
        3 of 4
      </ion-col>
      <ion-col 	size-sm="auto" class="cell-2">
        4 of 4
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
