<ion-header>
  <ion-toolbar>
    <ion-title>tercera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        1 of 3
      </ion-col>
      <ion-col size="auto" class="cell-6">
        Variable width content
      </ion-col>
      <ion-col>
        3 of 3
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        1 of 4
      </ion-col>
      <ion-col class="cell-4">
        2 of 4
      </ion-col>
      <ion-col size="auto" >
        <ion-label>no se</ion-label>
        <ion-input placeholder="Var width input" class="cell-5"></ion-input>
      </ion-col>
      <ion-col class="cell-6">
        4 of 4
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
