<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  <div>
    <ion-item>
      <ion-button  expand="full" size="small" routerLink="/primera">primera</ion-button>
      <ion-button routerLink="/segunda">segunda</ion-button>
      <ion-button routerLink="/tercera">tercera</ion-button>
      <ion-button routerLink="/cuarta">cuarta</ion-button>
      <ion-button routerLink="/quinta">quinta</ion-button>
      <ion-button routerLink="/sexta">sexta</ion-button>
      <ion-button routerLink="/septima">septima</ion-button>
      <ion-button routerLink="/octava">octava</ion-button>
    </ion-item>
  </div>
</ion-content>
